block before

section.all-30.push-right.medium-100.medium-100.small-100.tiny-100.top-space
	block small
	include ../../www/views/footer

section.all-70.push-left.grid.medium-100.small-100.tiny-100
	block contents

block after