section.padding
	article.double-top-space.horizontal-space.error-def( style="background-image: url('" + cacheLink('ufo-450x.png') + "')" )
		h1( view-title )=gettext('titlo error')
		p=gettext('texto error')