build/Release
node_modules
pkg/
src/
examples
logs
log
pids
lib-cov
coverage
.grunt
*~
*.log
*.pid
*.seed
*.tar
*.sig
*.tar.*
*.log.*
err.*
log.*
._*
.directory
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
*.conf