extends ../../api/views/layout

block Script
	script( type="text/javascript", src=cacheLink('www.js') )

block constants
	+constant('URL',GLOBAL.CONFIG.servers.www.url)

block runScript
	+GoogleAnalytics(GLOBAL.CONFIG.servers.www.analytic)

block content
	section.ng-column-group.ng-gutters( ng-view )
