extends out
block content
	table.twelve.columns: tr.render
		td.panel
			p= gettext('saludo %s', me.profile.name )
			.start!= gettext('recover texto inical')
			table.button: tr
				td: a( href= GLOBAL.CONFIG.servers.auth.url + me.recover )= gettext('btn recover')
			.fainal!= gettext('recover texto final')